* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1.5px solid black;
  padding: 5px;
}

@font-face {
  font-family: "Segoe UI";
  src: url("../../assest/fonts/"); /* IE9*/
  src: url("../../assest/fonts/?#iefix") format("embedded-opentype"), url("../../assest/fonts/4735dd9ca25670c44600021e7428b8d3.woff2") format("woff2"), url("../../assest/fonts/4735dd9ca25670c44600021e7428b8d3.woff") format("woff"), url("../../assest/fonts/4735dd9ca25670c44600021e7428b8d3.ttf") format("truetype"), url("../../assest/fonts/4735dd9ca25670c44600021e7428b8d3.svg#Segoe") format("svg"); /* iOS 4.1- */
}
.wrapper {
  font-family: "Segoe UI", sans-serif;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 946px;
  margin: 0 auto;
  padding: 0 20px;
}

/*--- HEADER START ---*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 9px 0;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  z-index: 10;
}
.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-search {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 0 9px;
}
.header-search input {
  border: none;
  outline: none;
  padding: 9px 25px 9px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 129%;
  color: gray;
}
.header-navbar {
  position: relative;
}
.header-navbar_icon {
  width: 22px;
  height: 22px;
  position: relative;
}
.header-navbar_icon:not(:last-child) {
  margin-right: 22px;
}

/*--- HEADER END ---*/
/*--- MAIN START ---*/
.main {
  padding-top: 82px;
}
.main-row {
  position: relative;
}
.main-left {
  width: 588.954px;
  min-height: 100%;
  border: 1px solid #dbdbdb;
}
.main-left_top {
  position: relative;
  border-bottom: 0.5px solid #dbdbdb;
  padding: 18px 0 18px 24px;
}
.main-left_top-stories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-left_top-story {
  position: relative;
}
.main-left_top-story-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  letter-spacing: 0.12px;
  text-transform: lowercase;
}
.main-left_bottom {
  position: relative;
}
.main-left_bottom-up {
  position: relative;
  padding: 9px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-left_bottom-up-title {
  position: relative;
  top: -16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 129% px;
  text-transform: lowercase;
}
.main-left_bottom-down-img {
  position: relative;
  width: 100%;
}
.main-left_bottom-down-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-left_bottom-down-items {
  position: relative;
  padding: 0 0 0 16px;
}
.main-left_bottom-down-items-com {
  position: relative;
}
.main-left_bottom-down-items-com-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
}
.main-left_bottom-down-items-com-title-plus {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
}
.main-left_bottom-down-items-com-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 139%;
  color: gray;
}
.main-left_bottom-down-items-com-subtitle-plus {
  font-weight: 400;
  font-size: 10px;
  line-height: 190%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: gray;
  margin-bottom: 17px;
}
.main-left_bottom-down-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-left_bottom-down-btn {
  padding: 15px 5px;
  background-color: white;
}
.main-right {
  position: fixed;
  width: 302.046px;
  top: 102px;
  right: calc((100vw - 946px) / 2);
}
.main-right_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;
}
.main-right_head-right-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  text-transform: capitalize;
  color: #0095F6;
}
.main-right_head-left {
  display: flex;
  justify-content: unset;
  align-items: center;
}
.main-right_head-left-img {
  margin-right: 24px;
}
.main-right_head-left-words {
  font-size: 14px;
  line-height: 129%;
}
.main-right_head-left-title {
  font-weight: 600;
  text-transform: lowercase;
}
.main-right_head-left-subtitle {
  font-weight: 400;
  text-transform: capitalize;
}
.main-right_body {
  position: relative;
}
.main-right_body-way {
  position: relative;
}
.main-right_body-way-suggest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 16px;
}
.main-right_body-way-suggest-title {
  font-size: 14px;
  line-height: 129%;
  color: gray;
}
.main-right_body-way-suggest-subtitle {
  font-size: 12px;
  line-height: 133%;
}

.comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dbdbdb;
  padding: 10px 11px;
}
.comments input {
  position: relative;
  border: none;
  outline: none;
  font-size: 16px;
  top: -6px;
  margin-left: 16px;
}
.comments .post {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  color: lightblue;
}
.comments .post:hover {
  color: #0095F6;
}

.comment {
  text-align: center;
  padding-top: 7px;
}

.second-title {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 79%;
  text-transform: lowercase;
  margin-bottom: 10px;
}

.second-subtitle {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 92%;
  color: gray;
  text-transform: none;
}

/*--- MAIN END ---*//*# sourceMappingURL=main.css.map */